.banner .swiper {
  width: 280px;
  height: 380px;
}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
  background-image: url(https://m.media-amazon.com/images/I/61jCkOVf1oL._SY425_.jpg);
}

.banner .swiper-slide:nth-child(2n) {
  background-image: url(https://m.media-amazon.com/images/I/415KWIijbDL._SY445_SX342_.jpg);
}

.banner .swiper-slide:nth-child(3n) {
  background-image: url(https://m.media-amazon.com/images/I/61vMdjFpbWL._SY425_.jpg);
}

.banner .swiper-slide:nth-child(4n) {
  background-image: url(https://m.media-amazon.com/images/I/41AnbvGOT3L._SY445_SX342_.jpg);
}

.banner .swiper-slide:nth-child(5n) {
   background-image: url(https://m.media-amazon.com/images/I/41wVYuZMNTL._SY445_SX342_.jpg);
}

.banner .swiper-slide:nth-child(6n) {
  background-image: url(https://m.media-amazon.com/images/I/41A2K8VMLxL._SY445_SX342_.jpg);
}

.banner .swiper-slide:nth-child(7n) {
   background-image: url(https://m.media-amazon.com/images/I/51po03OYhqL._SY445_SX342_.jpg);
}

.banner .swiper-slide:nth-child(8n) {
   background-image: url(https://m.media-amazon.com/images/I/41mxvU9Tu6L._SY445_SX342_.jpg);
}

.banner .swiper-slide:nth-child(9n) {
   background-image: url(https://m.media-amazon.com/images/I/51T8OXMiB5L._SY445_SX342_.jpg);
}

.banner .swiper-slide:nth-child(10n) {
   background-image: url(https://m.media-amazon.com/images/I/419aJfhczCL._SY445_SX342_.jpg);
}
